@font-face {
  font-family: Galien;
  src: url(TRY_Galien-Light.ttf);
}
@font-face {
  font-family: Gilroy;
  src: url(Gilroy-Light.ttf);
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(Gilroy-Bold.ttf);
}
